
.bio {
  display: flex;
  overflow: hidden;
  height: 1%;
}

.bio-left-col {
  background-color: #ffcc00; /*#f0544f;*/
  float:left;
  width: 450px;
  display: inline-block;
  text-align: right;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.bio-right-col {
  width: calc(100% - 450px);
  left: 450px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.bio-content {
  position: relative;
  background-color: white;
  max-width: 800px;
  width: 75%;
  margin-top: 300px;
  padding-left: 220px;
}

.bio-content p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.52px;
  color: #3c3c3c;
  margin-bottom: 35px;
  text-align: left;
}

.bio-content p a {
  text-decoration: underline;
  color: #08474e;
}

.bio-header {
  margin-top: 180px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 110px;
  letter-spacing: 7px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
