/* .home-container { */
  /* background-image: url('../components/home/images/mtrainier.jpg'); */
  /* background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block; */
  /* text-align: center; */
  /* opacity: 0.9; */
  /* filter: alpha(opacity=20); */
/* } */

.home {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.home-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
  max-width: 65%;
  height: auto;
  flex-direction: row;
  /* background-color: rgba(0,0,0,0.5) !important; */
}

/*///////////LEFT COLUMN///////////*/

.home-left-col {
  max-width: 600px; /*512*/
  display: inline-block;
  vertical-align: top;
}

.header {
  font-family: "Montserrat", serif;
  font-size: 105px;
  letter-spacing: 4px;
  color: #3c3c3c;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.blurb {
  font-family: 'Quattrocento', serif;;
  text-align: left;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.42px;
  color: #3c3c3c;
  max-width: 512px;
  margin-bottom: 20px;
  margin-left: 7px;
  position: relative;
}

.divider-red {  /*DIVIDER*/
   height: 4px;
   width: 100px;
   margin-left: 7px;
   margin-top: 40px;
   background-color: #f0544f;
   position: relative;
}

/*//////////////RIGHT COL/////////////*/

.home-right-col {
  max-width: 90px;
  vertical-align: top;
  display: inline-block;
}

.sidebar-menu {
  margin-left: 70px;
  margin-top: 40px;
  position: relative;
}

/*//////////////PROFILE PIC/////////////*/

.profile-pic img {
  border-radius: 50%;
  height: 314px;
  width: 280px;
  /* height: 400px; square
  width: 348px; */
  filter:brightness(104%);
  padding: 15px 25px 25px 0;
}

.profile-pic {
  display: inline-block;
  margin-right: 55px;
  position: relative;
}

/*//////////////SIDEBAR////////////////*/


.sidebar-menu-item {
  color: #f0544f;
  padding-right: 25px;
  float: left;
  padding-top: -20px;
  padding-bottom: 20px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  text-shadow: 0px 0px 0px #fff;
    -webkit-transition: .3s;
		 -moz-transition: .3s;
			 -o-transition: .3s;
			-ms-transition: .3s;
			  	transition: .3s;

}

.sidebar-menu-item:hover {
  color: #3c3c3c;
  margin-left: 15px;
}
