.life-container {
  height: 100%;
  width: 100%;
  display: block;
}

.life-content {
  display: inline-block;
}

.life-img-container { /*masonry*/
  display: inline-block;
  margin: 80px 70px 70px;
  column-count: 3;
  column-gap: 3em;

}

.life-img {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.life-header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 110px;
  letter-spacing: 7px;
  color: #3c3c3c;
  margin-top: 100px;
  position: relative;
}
