.portfolio {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.portfolio-right-col {
  background-color: /*2c786c*/#097e8b;
  right:0;
  max-width: 50%;
  float: right;
  position: absolute;
  display: inline-block;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 70px;
}

.portfolio-left-col {
  max-width: 50%;
  float: left;
  display: inline-block;
}

#portfolio-header-name div a {
  text-align: left;
  width: 50%;
  float: left;
}

.portfolio-header {
  padding-top: 80px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 110px;
  letter-spacing: 7px;
  color: #3c3c3c;
  padding-bottom: 40px;
  position: relative;
}

/*///////////////////////// PROJECT CARDS ////////////////////////////*/

.project-card {
  text-align: center;
  display: inline-block;
  margin: 50px 1.5% 98px;
  float: none;
  position: relative;
  width: 550px;
  height: 430px;
}

.project-card-img {
  width: 100%;
  height: 80%;
  object-fit: fill;
  display: inline-block;
}

.project-links {
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card:hover > .overlay {
    width:100%;
    height:80%;
    position:absolute;
    background-color: black;
    opacity:0.7;
}

.project-card .project-links a {
   visibility: hidden;
   text-decoration: none;
   font-size: 18px;
   color: white;
   padding: 3px;
   background-color: #f0544f;
   border-radius: 7px;
   opacity: 0.6;
}

.project-card:hover .project-links a {
   visibility: visible;
}

/*////////////////////About////////////////////////*/

.about-header {
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
}

.divider {
   height: 2px;
   width: 100px;
   background-color: white;
   margin-top: 80px;
}

.about-container {
  padding-top: 365px;
}

.about-paragraph {
  color: white;
  margin-left: 85px;
  padding-bottom: 125px;
  line-height: 35px;
  letter-spacing: 0.52px;
  font-family: 'Quattrocento', serif;
  font-size: 17px;
  float: none;
  position: relative;
  display: inline-block;
  height: 450px;
  float: none;
  width: 80%;
}

/*///////FOOTER//////*/

.portfolio-footer-fwd-container {
  position: absolute;
  margin-left: 48%;
}

#portfolio-footer-container {
  position: absolute;
  padding-top: 20px;
  margin-left: 21%;
}

.portfolio-footer-fwd a, .portfolio-footer-c a {
  display: inline-block;
}

.portfolio-footer-fwd a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1329px) and (min-width: 950px) {
  .project-card {
    margin: 50px 1.5% 98px;
    width: 550px;
    height: 430px;
  }
  .project-card-img {
    width: 70%;
    height: auto;
  }
  .about-paragraph {
    margin-left: 10%;
    padding-bottom: 125px;
    line-height: 28px;
    font-size: 15px;
  }
  .about-container {
    padding-top: 320px;
  }
  .divider {
    margin: 0;
  }
}

@media screen and (max-width: 949px) {
  .portfolio {
    overflow-x: hidden;
  }
  .portfolio-header {
    color: #fff;
  }
  .project-card-img {
    object-fit: cover;
  }
  .project-card {
    margin: 50px 0 0;
    float: none;
    width: 75%;
    height: auto;
  }
  .portfolio-right-col {
    display: none;
  }
  .portfolio-left-col {
    max-width: 100%;
    float: none;
    background-color: #097e8b;
  }
  .header-name-red div a {
    color: #fff !important;
  }
  .project-card:hover > .overlay {
      width:100%;
      height:100%;
  }
}

@media screen and (max-width: 499px) {
  .project-card {
    margin: 30px 0 0;
    width: 95%;
  }
  .portfolio-header {
    font-size: 3.4rem;
    letter-spacing: 5px;
    color: white;
  }
}
