html,
body {
  height: 100%;
  position: relative;
}

.App {
  text-align: center;
}

.header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 95px;
  letter-spacing: 7px;
  color: #3c3c3c;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.blurb {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.42px;
  color: #08474e;
  margin-bottom: 50px;
  position: relative;
}

#outer-container {
 min-height: 100%; /* will cover the 100% of viewport */
 display: block;
}
